<div class="row">
    
        
        <nb-card class="cards-container">
            <nb-card-body>
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-3">
                        <div class="p-2">
                            <h3 class="text-primary">Nuestros Indicadores</h3>
                            <p>
                                Es una herramienta de diagnóstico comparativo práctico acerca de la dinámica demográfica y poblacional a partir de las relaciones con aspectos socioeconómicos y ambientales, para la formulación y gestión de políticas de desarrollo sostenible de acuerdo a las competencias de las entidades territoriales.
                            </p>
                            <h4 class="text-primary">Dínamica poblacional</h4>
                            <div class="tabs">
                                <div class="tab">
                                  <input type="checkbox" id="chck1">
                                  <label class="tab-label" for="chck1">Razón de mortalidad materna</label>
                                  <div class="tab-content">
                                    La Razón de Mortalidad Materna (RMM) es uno de los indicadores más importantes en términos de atención integral en salud materna. Representa el número de mujeres fallecidas por causas relacionadas con el embarazo y el parto por cada 100.000 nacidos vivos de acuerdo con el municipio de residencia.
                                  </div>
                                </div>
                                <div class="tab">
                                  <input type="checkbox" id="chck2">
                                  <label class="tab-label" for="chck2">Indice de pobreza multidimensional</label>
                                  <div class="tab-content">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-12">
                                            <img width="100%" src="https://tse4.mm.bing.net/th?id=OIP.EKBKtK4KTwkCz89n6JIscAHaHa" alt="">
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-12">
                                            El Índice de Pobreza Multidimensional (IPM) es la medición de la pobreza de manera directa, a través de cinco dimensiones y quince indicadores:
                                            <br>
                                            1. Condiciones educativas: analfabetismo y bajo logro educativo. 
                                            <br>
                                            2. Condiciones de la niñez y juventud: inasistencia escolar, rezago escolar, barreras de acceso a servicios de cuidado de primera infancia, y trabajo infantil. 
                                            <br>
                                            3. Trabajo: trabajo informal y desempleo de larga duración. 
                                            <br>
                                            4. Salud: sin aseguramiento a salud y barreras de acceso a salud dada una necesidad. 
                                            <br>5. Condiciones de la vivienda y servicios públicos: sin acceso a fuente de agua mejorada, inadecuada eliminación de excretas, material inadecuado de pisos, material inadecuado de paredes y hacinamiento crítico. 
                                        </div>
                                    </div>
                                    
                                  </div>
                                </div>
                              </div>
                        </div>
                        
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        
                    </div>
                </div>
                
                
            </nb-card-body>
            
            
        </nb-card>
</div>


<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
        <i class="link-icon ion-home 2x"></i>
        <p>
            
            <img src="../assets/images/DNP.png" alt="">
        </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <i class="link-icon ion-home 2x"></i>
        <p>
            
            Logo
        </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <i class="link-icon ion-home 2x"></i>
        <p>
            
            Logo
        </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <i class="link-icon ion-home 2x"></i>
        <p>
        
            Logo
        </p>
    </div>
</div>