<div class="row">
    
        
        <nb-card class="cards-container">
            <nb-card-body>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-3">
                        <h1>Fuentes</h1>
                        <p>
                            Los portales y herramientas que sustentan nuestras herramientas y datos. 
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-3">
                        <img src="../../../../assets/images/info.png" alt=""/>
                    </div>
                </div>
                
                
            </nb-card-body>
            
        </nb-card>
</div>


<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 downloads-item">
        <i class="link-icon ion-home 2x"></i>
        <p>
           Logo 1
        </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 downloads-item">
        <i class="link-icon ion-home 2x"></i>
        <p>
            Logo 2
        </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 downloads-item">
        <i class="link-icon ion-home 2x"></i>
        <p>
            Logo 3
        </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 downloads-item">
        <i class="link-icon ion-home 2x"></i>
        <p>
            Logo 4
        </p>
    </div>
</div>
