<div class="row">
    
        
        <nb-card class="cards-container">
            <nb-card-body>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-3">
                        <h1>Fuentes</h1>
                        <p>
                            Los portales y herramientas que sustentan nuestras herramientas y datos. 
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-3">
                        <img src="../../../../assets/images/info.png" alt=""/>
                    </div>
                </div>
                
                
            </nb-card-body>
            
        </nb-card>
</div>


<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img src="../assets/images/logos/DNP.png" alt="">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img src="../assets/images/logos/DANE.png">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img class="logo" src="../assets/images/logos/logo-minsalud.png">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img class="logo" src="../assets/images/logos/logo-cancilleria.jpg">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img class="logo" src="../assets/images/logos/logo-apc.png">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img class="logo" src="../assets/images/logos/logo-UNGRD.svg">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img class="logo" src="../assets/images/logos/logo-ART-2020.svg">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img class="logo" src="../assets/images/logos/logo-unfpa-color.svg">
    </div>
</div>
