<div class="row">
    
        
        <nb-card class="cards-container">
            <nb-card-body>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-3">
                        <div class="p-2">
                            <h3 class="text-primary">¿Que es un triage poblacional?</h3>
                            <p>
                                Es una herramienta de diagnóstico comparativo práctico acerca de la dinámica demográfica y poblacional a partir de las relaciones con aspectos socioeconómicos y ambientales, para la formulación y gestión de políticas de desarrollo sostenible de acuerdo a las competencias de las entidades territoriales.
                            </p>
                            <h3 class="text-primary">¿Cuáles son las fuentes de información?</h3>
                            <p>
                                El Triage se construyó a partir del Análisis de Situación Poblacional ASP Colombia 20181 y la disposición de información de operaciones estadísticas por parte de entidades gubernamentales.
                            </p>
                            <h3 class="text-primary">¿Por qué es importante el Triage poblacional?</h3>
                            <p>
                                Permite a las autoridades locales, formuladores de políticas públicas y ciudadanía, disponer de información y análisis sobre las características de su población de forma comparativa a nivel municipal, departamental y nacional, para la construcción del diagnóstico territorial, la formulación de estrategias y definir metas de resultado para el mejoramiento de la calidad de vida de su población teniendo en cuenta la Agenda 2030 y sus Objetivos de Desarrollo Sostenible (ODS), las conferencias globales y regionales sobre población y desarrollo (El Cairo y Montevideo), y el Plan Nacional de Desarrollo (PND).
                            </p>
                            <h3 class="text-primary">¿Cómo se construyó y cómo se lee el Triage?</h3>
                            <p>
                                Se hizo una selección de los principales indicadores demográficos y poblacionales disponibles a nivel municipal, departamental y nacional, y se representaron visualmente de tal manera que se pudieran hacer comparaciones entre los territorios; además se agruparon los municipios de acuerdo a los patrones identificados en la literatura sobre estudios de población para hacer referencia a los desafíos y oportunidades que tiene cada entidad territorial de acuerdo a cada componente. A partir de esto, los lectores y las lectoras podrán observar el dato de cada indicador, compararlo con los demás municipios, el departamento al que pertenece y el total nacional. Contando finalmente con un análisis de las implicaciones que tiene cada componente en la planificación de su territorio.
                            </p>
                        </div>
                        
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-3">
                        <img src="../../../../assets/images/info.png" alt=""/>
                    </div>
                </div>
                
                
            </nb-card-body>
            
            
        </nb-card>
</div>


<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img src="../assets/images/logos/DNP.png" alt="">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img src="../assets/images/logos/DANE.png">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img class="logo" src="../assets/images/logos/logo-minsalud.png">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img class="logo" src="../assets/images/logos/logo-cancilleria.jpg">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img class="logo" src="../assets/images/logos/logo-apc.png">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img class="logo" src="../assets/images/logos/logo-UNGRD.png">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img class="logo" src="../assets/images/logos/logo-ART-2020.png">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img class="logo" src="../assets/images/logos/logo-unfpa-color.svg">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <img class="logo" src="../assets/images/logos/logo-pdet.png">
    </div>
</div>