<div class="row">
    
        
        <nb-card class="cards-container">
            <nb-card-body>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-3">
                        <h1>Bienvenido al Triage Poblacional</h1>
                        <p>
                            Somos la herramienta que genera tu diagnóstico acerca de la <b>dinámica demográfica y poblacional</b> a partir de las relaciones con aspectos socioeconómicos y ambientales de tu región.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-3">
                        <img src="../../../../assets/images/info.png" alt=""/>
                    </div>
                </div>
                
                
            </nb-card-body>
            
        </nb-card>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 input-label">
        <p>
            <b>Selecciona un lugar para consultar </b>
            
        </p>
        <p>>></p>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-6 input-form">
        
            <div class="col-lg-4 col-md-4 col-sm-3 input">
                <label for="">Departamento</label>
                <nb-select placeholder="Seleccione un departamento" [(selected)]="commonSelectedItem">
                    <nb-option value="1">Amazonas</nb-option>
                    <nb-option value="2">Atlántico</nb-option>
                    <nb-option value="3">Option 3</nb-option>
                    <nb-option value="4">Option 4</nb-option>
                </nb-select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 input">
                <label for="">Indicador</label>
                <nb-select placeholder="Seleccione una variable" [(selected)]="commonSelectedItem">
                    <nb-option value="1">Indice de pobreza</nb-option>
                    <nb-option value="2">Tasa de violencia</nb-option>
                    <nb-option value="3">Option 3</nb-option>
                    <nb-option value="4">Option 4</nb-option>
                </nb-select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 input">
                <label for="">Año</label>
                <nb-select placeholder="Seleccione una variable" [(selected)]="commonSelectedItem">
                    <nb-option value="1">2010</nb-option>
                    <nb-option value="2">2011</nb-option>
                    <nb-option value="3">Option 3</nb-option>
                    <nb-option value="4">Option 4</nb-option>
                </nb-select>
            </div>
          
    </div>
    
</div>

<div class="row">
    <h5>
        Últimos reportes descargados
    </h5>    
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 downloads-item">
        <i class="link-icon ion-home 2x"></i>
        <p>
            <b>520</b>
            <br>
            Dato destacado 1
        </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 downloads-item">
        <i class="link-icon ion-home 2x"></i>
        <p>
            <b>520</b>
            <br>
            Dato destacado 1
        </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 downloads-item">
        <i class="link-icon ion-home 2x"></i>
        <p>
            <b>520</b>
            <br>
            Dato destacado 1
        </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 downloads-item">
        <i class="link-icon ion-home 2x"></i>
        <p>
            <b>520</b>
            <br>
            Dato destacado 1
        </p>
    </div>
</div>