<!-- 

<div class="row">
  <div class="embed-container"><iframe class="frame" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="poblacion total" src="//unfpapdp.maps.arcgis.com/apps/Embed/index.html?webmap=f01337a70adb4311b708ea2b7db47ada&extent=-81.4981,-4.1374,-57.2402,11.2763&zoom=true&previewImage=false&scale=true&legendlayers=true&disable_scroll=true&theme=light"></iframe></div>
</div> -->
<div class="row">
  
  <iframe class="frame" src="https://unfpapdp.maps.arcgis.com/apps/webappviewer/index.html?id=082b88ce07564502823695c5a47b2ad4" frameborder="0"></iframe>
</div>
<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xxl-12">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div>
<div class="row">
  <div class="col-xxl-12">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>
</div>
<div class="row">
  <div class="col-xxl-9">
    <table-main></table-main>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>


<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>
